<div class="update-product-container">
  <h2 class="text-center">Actualizar Producto</h2>

  <div *ngIf="product">
    <form (ngSubmit)="onSubmit()" class="form">
      <p *ngIf="responseMessage" class="response-message">{{ responseMessage }}</p>
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" [(ngModel)]="product.name" name="name" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="description">Descripción:</label>
        <input type="text" id="description" [(ngModel)]="product.description" name="description" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" id="price" [(ngModel)]="product.price" name="price" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" [(ngModel)]="product.stock" name="stock" class="form-control" required>
      </div>

      <div class="form-group form-check">
        <input type="checkbox" id="activo" [(ngModel)]="product.activo" name="activo" class="form-check-input">
        <label for="activo" class="form-check-label">Activo</label>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Producto</button>
    </form>
  </div>
</div>
