<div class="container">
  <h2 class="text-center mb-4">Productos</h2>
  
  <div class="product-page-container">
    <div *ngIf="products.length > 0; else noProducts" class="product-list-container">
      <ul class="list-group">
        <li *ngFor="let product of products" class="list-group-item d-flex justify-content-between align-items-center">
          <div class="product-info d-flex justify-content-between align-items-center">
            <div class="product-details">
              <h5 class="mb-1">{{ product.name }}</h5>
              <p class="mb-1">Descripción: {{ product.description }}</p>
            </div>
            <div class="product-meta text-right">
              <small>Precio: {{ product.price | currency }} | Stock: {{ product.stock }} | Activo: {{ product.activo ? 'Sí' : 'No' }}</small>
            </div>
            <button class="btn btn-warning btn-sm" (click)="selectProduct(product)">Actualizar</button>
          </div>
        </li>
      </ul>
    </div>
    <app-update-product *ngIf="selectedProduct" [product]="selectedProduct" class="update-product-form"></app-update-product>
  </div>

  <ng-template #noProducts>
    <p class="text-center text-muted"></p>
  </ng-template>
</div>
