<div class="container mt-5">
  <h2 class="text-center">USUARIOS</h2>

  <div *ngIf="users.length > 0; else noUsers">
    <ul class="list-group">
      <li *ngFor="let user of users" class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ user.name }} - Rol: {{ user.role }}</span>
          <button class="btn btn-danger ml-3" (click)="deleteUser(user.id)">Eliminar</button>
        </div>
        <div class="mt-2">
          <span>ID: {{ user.id }}</span>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noUsers>
    <p class="text-center">No users available</p>
  </ng-template>
</div>
